@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: #F7FAFC;
}

.container {
    max-width: 760px;
    margin: 0 15px;
    background-color: #FFF;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 10px 10px 48px -19px rgba(0,0,0,0.45);
}

button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: block;
    width: 100%;
    position: relative;
    text-align: left;
    padding: 30px;
    transition: background-color 0.3s ease;
    border-bottom: 1px solid rgba(185, 185, 185, .4);
}

button:hover {
    background-color: #d4d4d4;
}

button svg {
    height: 16px;
    position: absolute;
    right: 40px;
}

.acc-content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-in-out;
}

.acc-content p{
    padding: 30px;
    color: #666;
    font-size: 14px;
    line-height: 1.5;
}

.hide {
    display: none;
}

.show {
    display: inline-block;
}

.single-acc:not(:first-child) button{
    border-top: 1px solid rgba(185, 185, 185, .4);
}