@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;
}

body {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 660px;
    padding: 0 50px;
}

.tab-btns {
    display: flex;
}

button {
    border: none;
    padding: 12px 25px;
    font-weight: 600;
    font-size: 16px;
    cursor: pointer;
}

.tab-contents {
    background-color: #313131;
    color: #fff;
    padding: 30px;
    border-radius: 0 8px 8px 8px;
}

.tab-contents p {
    font-size: 16px;
    padding-top: 20px;
    color: #d3d3d3;
}

button.active {
    background-color: #313131;
    color: #fff;
    border-radius: 8px 8px 0 0;
}

[x-cloak] {
    display: none;
}
